<link rel="stylesheet" href="../css/login.css">

<form action="/login" method="post">
    <input type="email" name="email" placeholder="Enter Email"/>
    <input type="text" name="instikey" id="wrong" placeholder="invalid Institution Key">
    <input type="password" name="password"  placeholder="Enter Password"/>

    <select name="dropdown" aria-placeholder="Select Role">
        <option value="Admin">Admin</option>
        <option value="Student">Student</option>
    </select>

    <input type="submit">
</form>
<a href="/signup"><button>Create Account</button></a>

<script src="../js/login.js"></script>
