<a href="/login"><button>Already Have Account ?</button></a>
<form action="/signup" method="post">
    <input type="email" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="mname" placeholder="Middle Name">
    <input type="text" name="lname" placeholder="Last Name">
    <input type="number" name="phno", placeholder="Enter Phone Number">
    <input type="text" name="insti" placeholder="Enter Institution">
    <input type="submit">
</form> 

