<link rel="stylesheet" href="../css/studResult.css">

<div class="tablular">
    <table>
        <thead>
            <tr>
                <th>Question No</th>
                <th>Your Response</th>
                <th>Correct Response</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < question.length; i++) { %>
                <% let result_bg = (response[i + 1] === question[i].correct_options[0]) ? 'result_bg_green' : 'result_bg_red'; %>
                <tr class="<%= result_bg %>">
                    <td><%= i + 1 %></td>
                    <td><%= response[i + 1] %></td>
                    <td><%= question[i].correct_options[0] %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
