/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark grey background */
    color: #eee; /* Light grey text */
}

/* Center align text */
.center-text {
    text-align: center;
}

/* Heading style */
.center-text h1 {
    font-size: 44px;
    font-family: 'Source Sans 3', sans-serif;
    height: 35px; /* This seems unnecessary */
}

/* Paragraph style */
.center-text p {
    font-size: 22px;
    font-family: 'Source Sans 3', sans-serif;
    color: #ccc; /* Light grey text */
}

/* Container for input */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 150px;
    margin: auto;
    background-color: #444; /* Dark grey background */
    border: 2px dashed #666; /* Medium grey border */
}

/* Upload button style */
.upload-btn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #4b88fd; /* Blue upload button */
    color: #fff;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

/* Center align text for list */
.list-center-text {
    color: #eee; /* Light grey text */
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    background-color: #222; /* Dark grey background */
    margin-top: 50px;
}

/* Heading style for list */
.list-center-text h2 {
    padding: 5px;
    font-size: 30px;
    margin-bottom: 0;
}

/* Style for indicating no file */
.no-file {
    font-size: 22px;
    color: #4b88fd; /* Blue text */
    text-align: center;
}

/* Container for file details */
.file-details {
    display: flex;
    justify-content: space-evenly;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #444; /* Dark grey background */
    font-weight: bold;
}

td {
    border-bottom: 1px solid #666; /* Medium grey border */
}

/* Links for view and delete */
.view-link, .delete-link {
    padding: 10px;
    text-decoration: none;
}

.view-link {
    color: #4b88fd; /* Blue link */
}

.delete-link {
    font-size: 18px;
    color: #f44336; /* Red link */
}

/* Hover effect for upload button */
.upload-btn:hover {
    transform: translateY(-1.5px);
    box-shadow: 0px 2px 2px 1px rgba(75, 136, 253, 0.4);
}

/* Container for files list */
.files-list {
    width: 70%;
    margin: 0 auto;
}
