<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Home Page</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="subject-box">
        <form action="/physics" method="post">
            <label for="physics">Physics:</label> 
            <input id="physics" type="submit" value="Open Test">
        </form>
    </div>

    <div class="subject-box">
        <form action="/chemistry" method="post">
            <label for="chemistry">Chemistry:</label> 
            <input id="chemistry" type="submit" value="Open Test">
        </form>
    </div>

    <div class="subject-box">
        <form action="/maths" method="post">
            <label for="maths">Maths:</label> 
            <input id="maths" type="submit" value="Open Test">
        </form>
    </div>
</body>
</html>