<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Home Page</title>
</head>
<body>
    <form action="/physics" method="post">
        Physics: <input type="submit">
    </form>

    <form action="/chemistry" method="post">
        Chemistry: <input type="submit">
    </form>

    <form action="/maths" method="post">
        Maths: <input type="submit">
    </form>
</body>
</html>